<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bis.dao.LeaveMessageDao">

	<insert id="saveInfo">
		INSERT INTO bi_leavemessage(id,msg,mapId,uploadTime)
		VALUES(#{id},#{msg},#{mapId},#{uploadTime})
	</insert>

   <insert id="saveFootprints">
        INSERT INTO bi_footprints(msg,mapId,x,y,uploadTime,path,shopId)
        VALUES(#{msg},#{mapId},#{x},#{y},#{uploadTime},#{path},#{shopId})
    </insert>

    <select id="getLeaveMessage" resultType="LeaveMessageModel">
        SELECT a.*,b.floor floorName
        FROM bi_leavemessage a join bi_maps b on a.mapId = b.mapId
        WHERE a.mapId = #{mapId} 
    </select>
    
    <select id="getFootprints" resultType="LeaveMessageModel">
        SELECT *
        FROM bi_footprints
        WHERE mapId = #{mapId} 
    </select>
    
    

    <select id="getLeaveMessageAndFootprints" resultType="ShopModel">
        select (select count(*) from bi_footprints where mapId = #{mapId} ) allcount,a.shopId,b.shopName,b.xSpot,b.ySpot,b.x1Spot,b.y1Spot 
        from bi_footprints a left join bi_shop b on a.shopId = b.id  where b.mapId = #{mapId} group by a.shopId;    
    </select>
    
     <select id="getFootprintsPathByShopId" resultType="LeaveMessageModel">
        SELECT a.*,b.floor floorName
        FROM bi_footprints a join bi_maps b on a.mapId = b.mapId
        WHERE a.shopId= #{shopId}  
    </select>   
    

    <select id="getFootCountByShopId" resultType="String">
        SELECT count(*)
        FROM bi_footprints
        WHERE shopId = #{shopId}
    </select>                    
</mapper>